@tailwind base;
@tailwind components;
@tailwind utilities;
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    /* font-family: "Roboto Flex", sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: "Roboto Condensed", sans-serif; */
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
html {
    scroll-behavior: smooth;
}
h1,h2, h3, h4, h5, h6{font-weight: 400;}
/* --------------------------------------- */
.button {
    padding: 12px 24px;
    background-color: #0147FF;
    border-radius: 8px;
}
.button--secondary {
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #0147FF;
}
.button__underline {
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 150%;
}
.footer__bottom {
    border-top: 1px solid white;
}


.swiper {
    max-width: 1470px;
    padding: 0 135px;
    height: 678px;
  }
  
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}
.swiper-pagination {
    position: relative;
    margin-top: -80px;
}